body {
  background-color: rgb(172, 170, 170);
}

.mobile {
  position: relative;
  top: 100px;
  border-radius: 30px;
  border: 8px solid rgb(6, 5, 5);
  width: 250px;
  height: 500px;
  margin: auto;
  box-shadow: 1px 1px 10px 10px rgb(70, 69, 69);
  background-color: rgb(252, 252, 251);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
}

.camera {
  position: sticky;
  top: 0px;
  left: 60px;
  border: 7px solid black;
  height: 10px;
  width: 120px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: black;
  z-index: 10;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  height: 23px;
  z-index: 9;
}

.battery {
  height: 14px;
  position: relative;
  left: 137px;
  top: 4px;
}

.wifi {
  height: 11px;
  position: relative;
  left: 11px;
  top: 2px;
}

.signal {
  position: absolute;
  height: 12px;
  right: 36px;
  top: 4px;
}

.time {
  position: absolute;
  color: black;
  left: 10px;
  top: 6px;
  font-size: 10px;
  font-weight: bold;
}

.profile {
  border: 2px solid rgb(191, 222, 247);
  border-radius: 15px;
  background-color: rgb(117, 197, 231);
  position: sticky;
  top: 20px;
  height: 40px;
  z-index: 7;
  font-weight: bolder;
  padding: 7px 0px 20px 20px;
  box-sizing: border-box;
  font-size: 20px;
}

.pf {
  position: absolute;
  top: 0.5px;
  height: 35px;
  left: 2px;
}

.ac {
  position: absolute;
  right: 20px;
  top: 9px;
  height: 20px;
}

.vc {
  position: absolute;
  top: 5px;
  right: 50px;
  height: 30px;
}

.chat {
  position: relative;
  top: 5px;
  height: 380px;
  width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.left,
.right {
  position: relative;
  max-width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 13px;

}

.left {
  background-color: rgb(159, 162, 162);
  float: left;
  clear: both;
  left: 5px;
  border-radius: 0px 12px 12px 12px;
}

.right {
  background-color: rgb(85, 158, 247);
  float: right;
  clear: both;
  right: 5px;
  border-radius: 12px 12px 0px 12px;
}

::-webkit-scrollbar {
  display: none;
}

.msg {
  position: absolute;
  left: 8px;
  border: 2px solid rgba(199, 198, 198, 0.301);
  background-color: rgba(199, 198, 198, 0.301);
  height: 30px;
  width: 230px;
  border-radius: 20px;
  margin-top: 10px;

}

.msgtype {
  width: 70%;
  font-size: 11px;
  background-color: rgba(199, 198, 198, 0.301);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  resize: none;
  position: absolute;
  right: 40px;
}

.send {
  position: absolute;
  right: 5px;
  height: 30px;
}

.plus {
  position: absolute;
  top: 2.5px;
  height: 25px;
}

.send {
  position: absolute;
  right: 5px;
  height: 30px;
}

.backbutton {
  position: sticky;
  margin: auto;
  margin-bottom: 3px;
  border: 2px solid rgb(143, 143, 142);
  width: 100px;
  border-radius: 2px;
  top: 610px;
  z-index: 8;
}